@import 'colors';
@import 'mixins';


.Module {
	@include flex(column);
	
	margin: 7.5vw;
	padding: 0;
	border: 1px solid $Safari-Chrome-border-color;
	border-radius: 2vw;
	box-shadow: inset 0 0 1.25vw 1px rgba($button-shadow-color, 0.85);
	
	.Module-header {
		@include flex(row, space-between, center);
		min-height: 15vw;
		padding-left: 4.25vw;
		padding-right: 4.25vw;
		@include text(title);
	}
	
	.Module-zones {
		display: block;
		position: relative;
		width: auto;
		white-space: nowrap;
		
		.Zone {
			display: inline-block;
			width: 100%;
			white-space: normal;
			margin: 0;
			transform: scale(1);
			transition: transform 0.25s ease-in,
				margin 0.5s ease-in 0.25s;
		}
		
		.Zone + .Zone {
			margin-left: 100vw;
		}
		
		.Zone-active {}
	}
	
	
	// zone transitions
	&.transition {
		.Zone {
			transform: scale(0.85);
		}
	}
	
	.Module-zones {
		&[data-current-zdx="1"] > .Zone:nth-of-type(1) { margin-left: 0; }
		&[data-current-zdx="2"] > .Zone:nth-of-type(1) { margin-left: -185vw; }
		&[data-current-zdx="3"] > .Zone:nth-of-type(1) { margin-left: -370vw; }
	}
}



