@import 'colors';
@import 'mixins';


.Module {
	@include flex(column);
	
	margin: 7.5vw;
	padding: 0;
	border: 1px solid $Safari-Chrome-border-color;
	border-radius: 2vw;
	
	div.Module-header {
		@include flex(row, space-between, center);
		min-height: 15vw;
		padding-left: 4.25vw;
		padding-right: 4.25vw;
		@include text(title);
	}
	
	hr.Module-stripe {
		@include debug(green);
	}
	
	div.Module-zones {
		// height: 100vw; // fix this
		overflow: hidden;
		
		div.Zone {
			@include debug;

		}
		div.Zone-active {}
	}
	
	// zone transitions
	&.transition-pre {}
	&.transition {}
	&.transition-post {}
	
	.Module-zones {
		&[data-current-zdx="1"] {}
		&[data-next-zdx="3"] {}
	}
}
