$GTA-cash-delta-green: #74cb6e;
$GTA-goal-gold: #eeca4a;

$Safari-Clickable-blue: #007aff;
$Safari-Field-background: #e6e6e8;
$Safari-Field-color: #8e8f90;
$Safari-Chrome-border-color: #a9a9a9;
$Safari-Chrome-background: #f8f8f8;

$App-Error-color: #DB2B2D;

$button-border-color: $Safari-Chrome-border-color;
$button-text-color: $Safari-Chrome-border-color;
$button-shadow-color: $Safari-Chrome-border-color;
