$GTA-cash-delta-green: #74cb6e;
$GTA-goal-gold: #eeca4a;
$Safari-Clickable-blue: #007aff;
$Safari-Field-background: #e6e6e8;
$Safari-Field-color: #8e8f90;
$Safari-Chrome-border: #a9a9a9;
$Safari-Chrome-background: #f8f8f8;

$button-border-color: $Safari-Chrome-border;
$button-text-color: $Safari-Chrome-border;
$button-shadow-color: $Safari-Chrome-border;
