// debug(color, width)
// clearfix
// flex(dir, justify, align, wrap)
// text(formatName)

@mixin debug($color:red, $size:1px) {
	outline: $size dotted $color;
}


@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


@mixin flex($d:row, $j:flex-start, $a:stretch, $w:nowrap) {
	display: flex;
	flex-direction: $d;
	justify-content: $j;
	align-items: $a;
	flex-wrap: $w;
}


@mixin text($formatName:prompt) {
	@if $formatName == title {&{
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: bold;
		color: darken($Safari-Chrome-border-color, 10);
	}}
	
	@if $formatName == prompt {&{
		font-size: 0.9rem;
		line-height: 1.25;
		font-weight: 300;
		letter-spacing: 0.03em;
		color: $Safari-Chrome-border-color;
	}}
	
	@if $formatName == button {&{
		font-size: 0.6rem;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: 0.02em;
		text-align: center;
		color: $button-text-color;
	}}
	
	@if $formatName == data {&{
		font-size: 0.6rem;
		line-height: 1.25;
		font-weight: bold;
		color: $Safari-Chrome-border-color;
	}}
}
