@import 'colors';
@import 'mixins';


* { box-sizing: border-box; }

html {
	font-family: "Helvetica Neue";
	font-size: 5vw;
	font-weight: normal;
	font-color: $Safari-Chrome-border-color;
}

body {
	@include flex(column);
	
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-image:
		linear-gradient(to bottom, rgba($Safari-Chrome-background, 0), rgba($Safari-Chrome-background, 0.75)),
		url('/buzzard-humane-labs.jpg'),
		linear-gradient(to bottom, $Safari-Chrome-background, #f0f4f8)
		;
	
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	
	color: $Safari-Field-color;
}

button,
.button {
	@include flex(column, flex-end);
	
	display: flex;
	width: 22.5vw;
	height: 17.25vw;
	outline: 0;
	border: 1px solid $button-border-color;
	border-radius: 1.4vw;
	margin: 0;
	
	padding: 0 0.1em 2vw;
	box-shadow: 0 0 1.25vw 1px rgba($button-shadow-color, 0.85);
	background: transparent;
	
	cursor: pointer;
	
	font: inherit;
	@include text(button);
	
	// pushes the text to the bottom
	&::before {
		content: '';
		display: flex;
		flex-grow: 1;
	}
}

.Footer {
	margin: auto auto 0;
	padding: 1em;
	
	@include text(button);
	text-align: center;
	font-weight: normal !important;
	color: $Safari-Chrome-border-color !important;
	text-shadow: 0px 0px 4px #f8f8f8, 0px 0px 4px #f8f8f8;
	
	
	// @include flex(column, flex-end, center);
}
